<div class="center">
<h1 class="center">Editing Store Flavor</h1>

<%= render 'form', store_flavor: @store_flavor %>

<%= link_to 'Back', store_flavors_path, :class=> "waves-effect waves-light btn red center"  %>
</div>