<p>
  <a class = "waves-effect waves-light btn cyan accent-3" href="<%= root_path %>">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a class = "waves-effect waves-light btn cyan accent-3" href="<%= root_path %>">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a class = "waves-effect waves-light btn cyan accent-3" href="mailto:A&MCreamery@icecream.com">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a class = "waves-effect waves-light btn cyan accent-3" href="#top">Back to top</a>
</p>
<div id="copyright">
  <br />Designed by: <%= mail_to "fjoad@qatar.cmu.edu", "Faaiz Joad", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2019
  <br /><br />
</div>