<div class="center">
  <h2 class = "center">Login Details</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  Don't worry, we don't store your plain text passwords!
</p>


<br/>
<% user = User.find(session[:user_id]) %>
<% employee = user.employee %>
<%= link_to 'change login details', edit_employee_path(employee), :class=> "waves-effect waves-light btn light-blue" %>
<br/><br/>
</div>