<!-- index page and about us -->
<!-- all content taken from coldstone creamery -->
<h1>Welcome to the Amazing and Marvelous Creamery</h1>
<!-- cool scrolling images effect -->
<div class="parallax-container">
      <div class="parallax"><img src="assets/a899d1db-kawaii-ice-cream-cones-lc (2).jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Our Commitment to Diversity and Inclusion</h2>
        <p class="grey-text text-darken-3 lighten-3">We provide equal employment opportunities without regard to race, color, creed, sex, age, disability, religion, national origin, marital status, ancestry, 
        sexual orientation, veteran status, citizenship status, pregnancy, medical condition, or any other protected status in accordance with the requirements of all federal, state and local laws. 
        This applies to all areas of employment, including hiring, training and development, promotion, transfer, compensation, and all other conditions and privileges of employment.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="assets/5ujRUkRilP.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Our Core Values</h2>
        <ul style="list-style-type:square">
            <li>1. Do the Right Thing</li>
            <li>2. Be the Best...Be #1</li>
            <li>3. Bring Out the Best in Our People</li>
            <li>4. Profit by Making People Happy</li>
            <li>5. Win as a Team</li>
        </ul>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="assets/a9dd36d74b89022e6c77d4844b654da0-700.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Our Mission Statement</h2>
        <p class="grey-text text-darken-3 lighten-3">We foster a work environment through collaboration and partnerships that increase employee engagement, 
        strengthen our business relationships, encourage innovation, influence multicultural markets and make A&M Creamery the Ultimate Ice Cream Experience for everybody!</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="assets/ice-cream_dessert_strawberry_berry_tubule_nuts_45315_1920x1080.jpg"></div>
    </div>

