<div class="center">
<h1 class="center">Editing Shift Job</h1>

<%= render 'form', shift_job: @shift_job %>

<%= link_to 'Back', shift_jobs_path, :class=> "waves-effect waves-light btn red center" %>
</div>