//base stylesheet from the lab
#toast-container {
 left:1%;
 right: auto !important;
}

//for the logo in the navbar
#logo {
 height: 100%;
 width: 4%;
}

html, body {
 padding:0 !important;
 margin:0 !important;
 height:100%
 !important;
}


$table-striped-color: #cfd8dc; 
$primary-color: #f762ad; 
$button-height: 26px;


@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";